<div class="container col-md-6 mt-3 mb-3 card bg-light">
   <form action="/robo/add" method="post">
      <h1 class="text text-danger text-center text-uppercase mt-3">Add toy</h1>
      <div class="form-group mt-3">
         <label class="h5 text text-success" for="">Name</label>
         <input class="form-control" type="text" name="name" >
      </div>
      <div class="form-group mt-3">
         <label class="h5 text text-success" for="">Date</label>
         <input class="form-control" type="date" name="date"  required>
      </div>
      <div>
         <label class="h5 text text-success " for="">Quantity</label>
         <input class="form-control" type="text" name="quantity">
      </div>
      <div class="form-group mt-3">
         <label class="h5 text text-success" for="">Hot</label><br>
      <select name="hot" class="form-control">
         <option value="yes">Yes</option>
         <option value="no">No</option>
      </select>
      </div>
      <div class="form-group mt-3">
      <label class="h5 text text-success" for="">Category</label><br>
      <select name="category" class="form-control">
         <option value="boy">Boy</option>
         <option value="girl">Girl</option>
      </select>
      </div>
      <div class="form-group mt-3">
         <label class="h5 text text-success" for="">Model</label>
        <input class="form-control" type="text" name="model" >
      </div>
      <div class="form-group mt-3">
         <label class="h5 text text-success" for="">Image</label><br>
         <input class="form-control" type="text" name="image" required>
      </div>
      <div class="form-group mt-3">
         <label class="h5 text text-success " for="">Price</label>
         <input class="form-control" type="text" name="price" required>
      </div>
      <div class="form-group text-center mt-3 mb-3">
         <input class="btn btn-primary" type="submit" value="Add">
      </div>
   </form>
</div>